button {
  border-radius: 0.5rem;
  background-color: #eee;
}
button:hover {
  background-color: #e0e0e0;
}
@media (max-width: 480px) {
  .calculator {
    width: 100%;
    padding: 10px;
    margin: 20px;
    /* height: auto; */
  }
  .calculator input::placeholder {
    font-size: 1.7rem;
  }
}
