@media(max-width:480px){
  .home{
    height: max-content;
  }
  .card{
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .card-inner{
    width: 100%;
    padding: 1rem;
  }
  .card h3{
    font-family: 'Courier New', Courier, monospace;
  }
  .card-box{
    padding-bottom: 2px;
  }
}