.home button {
  border-radius: 0.25rem;
  font-family: "Times New Roman", Times, serif;
  height: 5rem;
  width: 15rem;
  font-size: 2rem;
  font-weight: bolder;
  margin: 2rem;
  background-color: #dadada;
}
.home button:hover {
  background-color: #ccc9c9;
}
.home h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
@media (max-width: 480px) {
  .home h1 {
    font-size: 1.7rem;
  }
  .inner-home {
    align-items: center;
  }
}
